*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: #000;
    
}
header{
    padding: 0 4rem;
    margin: 20px 0;
}
.all{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.all .left{
    width: 23%;
    font-size: 15.23px;
}
.left h4{
    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-family: m-bold;
}
.navbar{
    width: 70%;
   
    text-decoration: none;
}
 .navbar a{
    color: black;
    font-size: 17px;
    margin: 0 10px;
   
 }
 
 .all .right{
    display: flex;
    justify-content: center;
    width: 7%;
 }
 .right a{
    font-size: 15px;
    margin: 0 10px;
 }
 #phone-header{
    display: none;
    padding: 20px 0;
 }
 .ph-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .ph-all .leftphone{
    width: 50%;
    display: flex;
 }
 .ph-all .rightphone{
    width: 50%;
    padding-left: 10rem;
 }
 
 .rightphone .icon{
    display: flex;
    padding: 20px;
 }

 @media(max-width:576px){
    header{
        display: none;
    }
    #phone-header{
        display: block;
    }
 }



 .main{
    background-color: rgb(248, 244, 244);
    display: flex;
    justify-content: space-between;
    padding: 40px;

 }
 .main .leftmain{
    width: 70%;
    
 }
 
 .main .leftmain img{
    width: 100%;
    border-radius: 10px;
 }
 
 .leftmain a{
    font-size: 50px;
 }
   .main .rightmain{
    width: 40%;
   
}
.rightmain .class{
    height: 124px;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 15px;
    overflow: hidden;
}
.class .bir{
    color: white;
    font-weight: bold;
    background-color: rgb(113, 113, 163);
    padding: 40px;
    display: flex;
    text-align: center;
    margin: 20px;
    border-radius: 5px;

}
.class .iki{
    color: white;
    font-weight: bold;
    background-color: rgb(87, 192, 178);
    padding: 40px;
    display: flex;
    text-align: center;
    margin: 20px;
    border-radius: 5px; 
}
.gerbyazi {
    display: flex;
    align-items: center;
    border: #000 solid;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
.gerbyazi .gerb{
    width: 20%;
    margin: 15px;
}
.gerbyazi .yazi{
    width: 80%;
}